# Global
.DS_Store

# Xcode User settings
xcuserdata/

# Xcode Playgrounds
timeline.xctimeline
playground.xcworkspace

# Visual Studio
.vs/

# LLVM intermediate files
*.ll
*.bc
*.o
*.a
*.out

# 
bin/
obj/
*~
*.d
*.gch
*.pch
DerivedData/
build/
dist/

# intellij/clion
.idea

# cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeSettings.json
_deps
