# Global
.DS_Store

# Paths
build/
bin/

# IDEs
.vs/
xcuserdata/
timeline.xctimeline
playground.xcworkspace

# artefacts
*.dll
*.a
*.o
*.lib
*.obj
*.pch
*.gch
*~
*.d
*.out

# cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeSettings.json
_deps
