[Desktop Entry]
Type=Application
Name=FBIde
GenericName=FreeBASIC IDE
Comment=An open-source IDE for the FreeBASIC compiler
Exec=fbide %F
Icon=fbide
Categories=Development;IDE;
Terminal=false
StartupNotify=true
