//
//  base.xcconfig
//  fbide
//
//  Created by Albert on 13/09/2013.
//  Copyright (c) 2013 Albert Varaksin. All rights reserved.
//
#include "wx.xcconfig"

FBIDE_CXXFLAGS = -DSCI_LEXER -I"yaml-cpp/include"  -I"/usr/local/include" -I"src/wxstc/include" -I"scintilla/include" -I"scintilla/lexlib" -I"scintilla/src"
FBIDE_LDFLAGS  = -lboost_filesystem -lboost_system
